section.link-boxes {
  	.make-row();

  	ul.media-links {

		li {
			.make-md-column(4);
			list-style: none;
			
			article {

				header {
				
					a.article-link { 
						.btn; 
						.btn-default;
						margin-bottom:2rem;
						margin-top:1rem;
						font-weight: bold;
					}
				}
			}
		}
	}
	
}
